@{
    ViewData["Title"] = "Сапёр";
}

<form asp-action="new" method="get">
    <label>высота уровня</label>
    <input type="number" name="height"/>
    <label>ширина уровня</label>
    <input type="number" name="width"/>
    <label>кол-во мин</label>
    <input type="number" name="minesCount"/>
    <br/>
    <input type="submit" value="Начать игру"/>

</form>